@model Sieve.HR.Areas.Admin.Models.HR_EMP_DETAIL
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card-header">
        <div class="card-title">
            <a href="@Url.Action("Index")" class="btn btn-outline-info btn-flat btn-sm"><i class="fas fa-chevron-circle-left"></i> Back</a>
            <a href="@Url.Action("Create",new {id=""})" class="btn btn-outline-primary btn-flat btn-sm"><i class="fas fa-plus-circle"></i> New</a>
            <button type="submit" class="btn btn-outline-danger btn-flat btn-sm"><i class="fas fa-save"></i> Save</button>
        </div>
    </div>
    <div class="card-body">
        @Html.HiddenFor(model=>model.ID)
        <div class="row">
            <div class="col">
                @Html.LabelFor(model => model.FULL_NAME, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FULL_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.FULL_NAME) } })
                @Html.ValidationMessageFor(model => model.FULL_NAME, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.CONTACT_NO, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CONTACT_NO, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.CONTACT_NO) } })
                @Html.ValidationMessageFor(model => model.CONTACT_NO, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.EMAIL_ID, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.EMAIL_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.EMAIL_ID) } })
                @Html.ValidationMessageFor(model => model.EMAIL_ID, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.GENDER_ID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.GENDER_ID, ViewBag.GENDER_ID as List<SelectListItem>, new { @class = "form-control form-control-sm" })
                @Html.ValidationMessageFor(model => model.GENDER_ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.LabelFor(model => model.NATIONALITY, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NATIONALITY, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.NATIONALITY) } })
                @Html.ValidationMessageFor(model => model.NATIONALITY, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.BIRTH_DATE, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.BIRTH_DATE, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.BIRTH_DATE) } })
                @Html.ValidationMessageFor(model => model.BIRTH_DATE, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.MARITAIL_STATUS, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.MARITAIL_STATUS, ViewBag.MARITAIL_STATUS as List<SelectListItem>, new { @class = "form-control form-control-sm" })
                @Html.ValidationMessageFor(model => model.MARITAIL_STATUS, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.SPOUSE_NAME, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.SPOUSE_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.SPOUSE_NAME) } })
                @Html.ValidationMessageFor(model => model.SPOUSE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Html.LabelFor(model => model.NATIONAL_ID, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NATIONAL_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.NATIONAL_ID) } })
                @Html.ValidationMessageFor(model => model.NATIONAL_ID, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.PASSPORT_ID, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PASSPORT_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.PASSPORT_ID) } })
                @Html.ValidationMessageFor(model => model.PASSPORT_ID, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.FATHER_NAME, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FATHER_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.FATHER_NAME) } })
                @Html.ValidationMessageFor(model => model.FATHER_NAME, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.MOTHER_NAME, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.MOTHER_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.MOTHER_NAME) } })
                @Html.ValidationMessageFor(model => model.MOTHER_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mt-1">
            <div class="col">
                @Html.LabelFor(model => model.PARENTS_CONACT, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PARENTS_CONACT, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.PARENTS_CONACT) } })
                @Html.ValidationMessageFor(model => model.PARENTS_CONACT, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.PRESENT_ADDRESS, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PRESENT_ADDRESS, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.PRESENT_ADDRESS) } })
                @Html.ValidationMessageFor(model => model.PRESENT_ADDRESS, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.PARMANENT_ADDRESS, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PARMANENT_ADDRESS, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.PARMANENT_ADDRESS) } })
                @Html.ValidationMessageFor(model => model.PARMANENT_ADDRESS, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
}

@*@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }*@