@model IEnumerable<Sieve.HR.Areas.Admin.Models.HR_EMP_DETAIL>

@{
    ViewBag.Title = "Emp Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card card-primary card-outline">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
            <h5 class="card-title m-0">@ViewBag.Title</h5>
            <a href="@Url.Action("Create",new {id=""})" class="btn btn-outline-primary btn-flat btn-sm"><i class="fas fa-plus-circle"></i> Add @ViewBag.Title</a>
        </div>
    </div>
    <div class="card-body table-responsive ">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ID)</th>
                    <th>@Html.DisplayNameFor(model => model.EMP_NO)</th>
                    <th>@Html.DisplayNameFor(model => model.FULL_NAME)</th>
                    <th>@Html.DisplayNameFor(model => model.CONTACT_NO)</th>
                    <th>@Html.DisplayNameFor(model => model.EMAIL_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.GENDER_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.NATIONALITY)</th>
                    <th>@Html.DisplayNameFor(model => model.BIRTH_DATE)</th>
                    <th>@Html.DisplayNameFor(model => model.MARITAIL_STATUS)</th>
                    <th>@Html.DisplayNameFor(model => model.SPOUSE_NAME)</th>
                    <th>@Html.DisplayNameFor(model => model.NATIONAL_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.PASSPORT_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.FATHER_NAME)</th>
                    <th>@Html.DisplayNameFor(model => model.MOTHER_NAME)</th>
                    <th>@Html.DisplayNameFor(model => model.PARENTS_CONACT)</th>                    
                    <th>@Html.DisplayNameFor(model => model.PRESENT_ADDRESS)</th>
                    <th>@Html.DisplayNameFor(model => model.PARMANENT_ADDRESS)</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.EMP_NO</td>
                        <td>@item.FULL_NAME</td>
                        <td>@item.CONTACT_NO</td>
                        <td>@item.EMAIL_ID</td>
                        <td>@item.GENDER_ID</td>
                        <td>@item.NATIONALITY</td>
                        <td>@item.BIRTH_DATE</td>
                        <td>@item.MARITAIL_STATUS</td>
                        <td>@item.SPOUSE_NAME</td>
                        <td>@item.NATIONAL_ID</td>
                        <td>@item.PASSPORT_ID</td>
                        <td>@item.FATHER_NAME</td>
                        <td>@item.MOTHER_NAME</td>
                        <td>@item.PARENTS_CONACT</td>
                        <td>@item.PRESENT_ADDRESS</td>
                        <td>@item.PARMANENT_ADDRESS</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="#">
                                    <a class="dropdown-item btn btn-outline-danger btn-flat btn-sm" asp-area="Admin" asp-controller="EmpDetail" asp-action="Create" asp-route-id="@item.ID"><i class="fas fa-edit"></i> Edit Employee Details</a>
                                    <a class="dropdown-item btn btn-outline-danger btn-flat btn-sm" asp-area="Admin" asp-controller="EmpEducation" asp-action="CreateByEmpID" asp-route-EMP_ID="@item.ID"><i class="fas fa-university"></i> Add or Edit Education</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
