@model Sieve.HR.Areas.Admin.Models.HR_EMP_LEAVE_APPS
@{
    ViewBag.Title = "Emp Leave Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card-header border-0">
            <h5 class="card-title m-0">Add/Edit @ViewBag.Title</h5>
            <div class="d-flex justify-content-end">
                <a href="@Url.Action("Index")" class="btn btn-outline-info btn-flat btn-sm"><i class="fas fa-chevron-circle-left"></i> Back</a>
                <a href="@Url.Action("Create",new {id=""})" class="btn btn-outline-primary btn-flat btn-sm"><i class="fas fa-plus-circle"></i> New</a>
                <button type="submit" class="btn btn-outline-danger btn-flat btn-sm"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model=>model.ID)
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.EMP_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EMP_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.EMP_ID) } })
                    @Html.ValidationMessageFor(model => model.EMP_ID, "", new { @class = "text-danger" })
                </div>                 
                <div class="col">
                    @Html.LabelFor(model => model.FROM_DATE, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FROM_DATE, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.FROM_DATE) } })
                    @Html.ValidationMessageFor(model => model.FROM_DATE, "", new { @class = "text-danger" })
                </div>                
                <div class="col">
                    @Html.LabelFor(model => model.TO_DATE, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TO_DATE, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.TO_DATE) } })
                    @Html.ValidationMessageFor(model => model.TO_DATE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.TOTAL_DAYS, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TOTAL_DAYS, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.TOTAL_DAYS) } })
                    @Html.ValidationMessageFor(model => model.TOTAL_DAYS, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.LEAVE_TYPE_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.LEAVE_TYPE_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.LEAVE_TYPE_ID) } })
                    @Html.ValidationMessageFor(model => model.LEAVE_TYPE_ID, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.LEAVE_DETAIL, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.LEAVE_DETAIL, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.LEAVE_DETAIL) } })
                    @Html.ValidationMessageFor(model => model.LEAVE_DETAIL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.VERIFY_BY, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.VERIFY_BY, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.VERIFY_BY) } })
                    @Html.ValidationMessageFor(model => model.VERIFY_BY, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.APPROVED_BY, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.APPROVED_BY, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.APPROVED_BY) } })
                    @Html.ValidationMessageFor(model => model.APPROVED_BY, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    }
</div>






@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }