@model IEnumerable<Sieve.HR.Areas.Admin.Models.HR_ATTENDANCE_SHEET>

@{
    ViewBag.Title = "Emp's Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header border-0">
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Emp Id</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Day</th>
                    <th>In Time</th>
                    <th>In Time</th>
                    <th>Out Time</th>
                    <th>OT Hours</th>
                    <th>Attendance Status</th>
                    <th>Duty Roster</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EMP_ID</td>
                        <td>@item.YEAR_ID</td>
                        <td>@item.MONTH_ID</td>
                        <td>@item.DAY_ID</td>
                        <td>@item.IN_TIME</td>
                        <td>@item.OUT_TIME</td>
                        <td>@item.OT_HOURS</td>
                        <td>@item.ATTEND_STATUS</td>
                        <td>@item.ROSTER_ID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>