@model IEnumerable<Sieve.HR.Areas.Admin.Models.HR_ATTENDANCE_SHEET>

@{
    ViewBag.Title = "Employee's Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header border-0">
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EMP_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.YEAR_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.MONTH_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.DAY_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.IN_TIME)</th>
                    <th>@Html.DisplayNameFor(model => model.OUT_TIME)</th>
                    <th>@Html.DisplayNameFor(model => model.OT_HOURS)</th>
                    <th>@Html.DisplayNameFor(model => model.ATTEND_STATUS)</th>
                    <th>@Html.DisplayNameFor(model => model.ROSTER_ID)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EMP_ID</td>
                        <td>@item.YEAR_ID</td>
                        <td>@item.MONTH_ID</td>
                        <td>@item.DAY_ID</td>
                        <td>@item.IN_TIME</td>
                        <td>@item.OUT_TIME</td>
                        <td>@item.OT_HOURS</td>
                        <td>@item.ATTEND_STATUS</td>
                        <td>@item.ROSTER_ID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>