@model Sieve.HR.Areas.Admin.Models.HR_EMP_ROSTER
@{
    ViewBag.Title = "Emp Roster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card-header border-0">
            <h5 class="card-title m-0">Add/Edit @ViewBag.Title</h5>
            <div class="d-flex justify-content-end">
                <a href="@Url.Action("Index")" class="btn btn-outline-info btn-flat btn-sm"><i class="fas fa-chevron-circle-left"></i> Back</a>
                <button type="submit" class="btn btn-outline-danger btn-flat btn-sm"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model=>model.ID)
            @Html.HiddenFor(model=>model.RowVersion)
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.EMP_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EMP_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.EMP_ID) } })
                    @Html.ValidationMessageFor(model => model.EMP_ID, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.FULL_NAME, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FULL_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.FULL_NAME) } })
                    @Html.ValidationMessageFor(model => model.FULL_NAME, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.ROSTER_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.ROSTER_ID, ViewBag.ROSTER_ID as List<SelectListItem>, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.ROSTER_ID, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.WEEKEND_DAYNO, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.WEEKEND_DAYNO, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.WEEKEND_DAYNO) } })
                    @Html.ValidationMessageFor(model => model.WEEKEND_DAYNO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.SUPERVISOR_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.SUPERVISOR_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.SUPERVISOR_ID) } })
                    @Html.ValidationMessageFor(model => model.SUPERVISOR_ID, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.HEAD_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.HEAD_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.HEAD_ID) } })
                    @Html.ValidationMessageFor(model => model.HEAD_ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    }
</div>






@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }