@model IEnumerable<Sieve.HR.Areas.Admin.Models.HR_EMP_ROSTER>
@{
    ViewBag.Title = "Emp Roster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
            <h5 class="card-title m-0">@ViewBag.Title</h5>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EMP_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.ROSTER_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.WEEKEND_DAYNO)</th>
                    <th>@Html.DisplayNameFor(model => model.SUPERVISOR_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.HEAD_ID)</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EMP_ID</td>
                        <td>@item.ROSTER_ID</td>
                        <td>@item.WEEKEND_DAYNO</td>
                        <td>@item.SUPERVISOR_ID</td>
                        <td>@item.HEAD_ID</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="#">
                                    <a class="dropdown-item btn btn-outline-danger btn-flat btn-sm" asp-area="Admin" asp-controller="EmpRoster" asp-action="Create" asp-route-id="@item.EMP_ID"><i class="fas fa-edit"></i> Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>