@model IEnumerable<Sieve.HR.Areas.Admin.Models.HR_EMP_ROSTER>

@{
    ViewBag.Title = "Emp Roster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
            <h5 class="card-title m-0">@ViewBag.Title</h5>
            @*<a href="@Url.Action("Create",new {id=""})" class="btn btn-outline-primary btn-flat btn-sm"><i class="fas fa-plus-circle"></i> Add @ViewBag.Title</a>*@
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Emp ID</th>
                    <th>Duty Roster</th>
                    <th>Weekend Day Number</th>
                    <th>Supervisor Name</th>
                    <th>Supervisor Name</th>
                    <th>Head Name</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EMP_ID</td>
                        <td>@item.ROSTER_ID</td>
                        <td>@item.WEEKEND_DAYNO</td>
                        <td>@item.SUPERVISOR_ID</td>
                        <td>@item.HEAD_ID</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="#">
                                    <a class="dropdown-item btn btn-outline-danger btn-flat btn-sm" asp-area="Admin" asp-controller="EmpRoster" asp-action="Create" asp-route-id="@item.EMP_ID"><i class="fas fa-edit"></i> Edit</a>
                                    @*<button data-url="@Url.Action("Delete")" data-param="@item.ID" class="dropdown-item btn btn-outline-danger btn-flat btn-sm confirm-item" type="button">
                                <i class="fas fa-trash"></i> Delete
                                </button>*@
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>