@model Sieve.HR.Areas.Admin.Models.HR_EMP_EDU
@{
    ViewBag.Title = "Emp Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card-header border-0">
            <h5 class="card-title m-0">Add/Edit @ViewBag.Title</h5>
            <div class="d-flex justify-content-end">
                <a href="@Url.Action("Index")" class="btn btn-outline-info btn-flat btn-sm"><i class="fas fa-chevron-circle-left"></i> Back</a>
                <a href="@Url.Action("Create",new {id=""})" class="btn btn-outline-primary btn-flat btn-sm"><i class="fas fa-plus-circle"></i> New</a>
                <button type="submit" class="btn btn-outline-danger btn-flat btn-sm"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model=>model.ID)
            @Html.HiddenFor(model=>model.RowVersion)
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.EMP_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EMP_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.EMP_ID) } })
                    @Html.ValidationMessageFor(model => model.EMP_ID, "", new { @class = "text-danger" })
                </div>

                <div class="col">
                    @Html.LabelFor(model => model.EDU_TYPE_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.EDU_TYPE_ID, ViewBag.EDU_TYPE_ID as List<SelectListItem>, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.EDU_TYPE_ID, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.EDU_TITLE, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EDU_TITLE, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.EDU_TITLE) } })
                    @Html.ValidationMessageFor(model => model.EDU_TITLE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.EDU_YEAR, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EDU_YEAR, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.EDU_YEAR) } })
                    @Html.ValidationMessageFor(model => model.EDU_YEAR, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.EDU_GRADE, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EDU_GRADE, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.EDU_GRADE) } })
                    @Html.ValidationMessageFor(model => model.EDU_GRADE, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.INSTITUE_NAME, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.INSTITUE_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @Placeholder = Html.DisplayNameFor(x => x.INSTITUE_NAME) } })
                    @Html.ValidationMessageFor(model => model.INSTITUE_NAME, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
</div>






@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }