@model IEnumerable<Sieve.HR.Areas.Admin.Models.HR_EMP_EDU>

@{
    ViewBag.Title = "Emp Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
            <h5 class="card-title m-0">@ViewBag.Title</h5>
            @*<a href="@Url.Action("CreateByEmpID",new {id="1"})" class="btn btn-outline-primary btn-flat btn-sm"><i class="fas fa-plus-circle"></i> Add @ViewBag.Title</a>*@
            <a class="btn btn-outline-primary btn-flat btn-sm" asp-area="Admin" asp-controller="EmpEducation" asp-action="Create" asp-route-id="0" asp-route-EMP_ID="@ViewBag.EMP_ID"><i class="fas fa-plus-circle"></i> Add @ViewBag.Title</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Emp ID</th>
                    <th>Institution/Training Type</th>
                    <th>Institution/Training Title</th>
                    <th>Passing Year</th>
                    <th>Passing Grade</th>
                    <th>Institute Name</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.EMP_ID</td>
                        <td>@item.EDU_TYPE_ID</td>
                        <td>@item.EDU_TITLE</td>
                        <td>@item.EDU_YEAR</td>
                        <td>@item.EDU_GRADE</td>
                        <td>@item.INSTITUE_NAME</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="#">
                                    <a class="dropdown-item btn btn-outline-danger btn-flat btn-sm" asp-area="Admin" asp-controller="EmpEducation" asp-action="Create" asp-route-id="@item.ID" asp-route-EMP_ID="@item.EMP_ID"><i class="fas fa-edit"></i> Edit</a>
                                    @*<button data-url="@Url.Action("Delete")" data-param="@item.ID" class="dropdown-item btn btn-outline-danger btn-flat btn-sm confirm-item" type="button">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>*@
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>