@model IEnumerable<Sieve.HR.Areas.Admin.Models.HR_EMP_JOB>

@{
    ViewBag.Title = "Employee Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<a href="@Url.Action("Create","EmployeeJob", new { area = "Admin"})" class="btn btn-primary">Add New Job</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Employee ID</th>
            <th>Desgination</th>
            <th>Section</th>
            <th>Start Date</th>
            <th>Confirmation Date</th>
            <th>End Date</th>
            <th>Gross Salary</th>
            <th>Initiated By</th>
            <th>Verified By</th>
            <th>Approved By</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.EMP_ID</td>
                <td>@item.DESIG_ID</td>
                <td>@item.SECTION_ID</td>
                <td>@item.START_DATE</td>
                <td>@item.CONF_DATE</td>
                <td>@item.END_DATE</td>
                <td>@item.GROSS_SALARY</td>
                <td>@item.INITIATED_BY</td>
                <td>@item.VERIFIED_BY</td>
                <td>@item.APPROVED_BY</td>
                <td>
                    <div role="group" class="w-60 btn-group">
                        <a asp-area="Admin" asp-controller="EmployeeJob" asp-action="Create" asp-route-id="@item.ID" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>